<!DOCTYPE html>
<html>
  <head>
    <title>trezor/ui/components/tt/reset.py</title>
    <meta charset="utf-8">
    <style>body { font-size: 80%; }</style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th style="color: grey">#</th>
          <th style="text-align: right;">avg</th>
          <th style="text-align: right;">total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr id="1" style="color: blue;">
          <td style="color: grey">1</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">76</td>
          <td>from&nbsp;typing&nbsp;import&nbsp;TYPE_CHECKING</td>
        </tr>
        <tr id="2" style="None">
          <td style="color: grey">2</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="3" style="color: blue;">
          <td style="color: grey">3</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">76</td>
          <td>from&nbsp;trezor&nbsp;import&nbsp;ui</td>
        </tr>
        <tr id="4" style="None">
          <td style="color: grey">4</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="5" style="color: blue;">
          <td style="color: grey">5</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">38</td>
          <td>from&nbsp;.button&nbsp;import&nbsp;Button</td>
        </tr>
        <tr id="6" style="color: red;">
          <td style="color: grey">6</td>
          <td style="text-align: right;">6.00</td>
          <td style="text-align: right;">228</td>
          <td>from&nbsp;.num_input&nbsp;import&nbsp;NumInput</td>
        </tr>
        <tr id="7" style="color: blue;">
          <td style="color: grey">7</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">38</td>
          <td>from&nbsp;.text&nbsp;import&nbsp;Text</td>
        </tr>
        <tr id="8" style="None">
          <td style="color: grey">8</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="9" style="None">
          <td style="color: grey">9</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>if&nbsp;TYPE_CHECKING:</td>
        </tr>
        <tr id="10" style="None">
          <td style="color: grey">10</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;trezor&nbsp;import&nbsp;loop</td>
        </tr>
        <tr id="11" style="None">
          <td style="color: grey">11</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;typing&nbsp;import&nbsp;Callable,&nbsp;NoReturn,&nbsp;Sequence</td>
        </tr>
        <tr id="12" style="None">
          <td style="color: grey">12</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="13" style="None">
          <td style="color: grey">13</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>if&nbsp;__debug__:</td>
        </tr>
        <tr id="14" style="color: blue;">
          <td style="color: grey">14</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">76</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;apps&nbsp;import&nbsp;debug</td>
        </tr>
        <tr id="15" style="None">
          <td style="color: grey">15</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="16" style="None">
          <td style="color: grey">16</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="17" style="color: blue;">
          <td style="color: grey">17</td>
          <td style="text-align: right;">3.00</td>
          <td style="text-align: right;">114</td>
          <td>class&nbsp;Slip39NumInput(ui.Component):</td>
        </tr>
        <tr id="18" style="color: blue;">
          <td style="color: grey">18</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">76</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;SET_SHARES&nbsp;=&nbsp;object()</td>
        </tr>
        <tr id="19" style="color: blue;">
          <td style="color: grey">19</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">38</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;SET_THRESHOLD&nbsp;=&nbsp;object()</td>
        </tr>
        <tr id="20" style="color: blue;">
          <td style="color: grey">20</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">76</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;SET_GROUPS&nbsp;=&nbsp;object()</td>
        </tr>
        <tr id="21" style="color: blue;">
          <td style="color: grey">21</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">38</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;SET_GROUP_THRESHOLD&nbsp;=&nbsp;object()</td>
        </tr>
        <tr id="22" style="None">
          <td style="color: grey">22</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="23" style="color: blue;">
          <td style="color: grey">23</td>
          <td style="text-align: right;">4.00</td>
          <td style="text-align: right;">152</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;__init__(</td>
        </tr>
        <tr id="24" style="None">
          <td style="color: grey">24</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self,</td>
        </tr>
        <tr id="25" style="None">
          <td style="color: grey">25</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;step:&nbsp;object,</td>
        </tr>
        <tr id="26" style="None">
          <td style="color: grey">26</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;count:&nbsp;int,</td>
        </tr>
        <tr id="27" style="None">
          <td style="color: grey">27</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;min_count:&nbsp;int,</td>
        </tr>
        <tr id="28" style="None">
          <td style="color: grey">28</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max_count:&nbsp;int,</td>
        </tr>
        <tr id="29" style="None">
          <td style="color: grey">29</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;group_id:&nbsp;int&nbsp;|&nbsp;None&nbsp;=&nbsp;None,</td>
        </tr>
        <tr id="30" style="None">
          <td style="color: grey">30</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;)&nbsp;->&nbsp;None:</td>
        </tr>
        <tr id="31" style="None">
          <td style="color: grey">31</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;super().__init__()</td>
        </tr>
        <tr id="32" style="None">
          <td style="color: grey">32</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.step&nbsp;=&nbsp;step</td>
        </tr>
        <tr id="33" style="color: blue;">
          <td style="color: grey">33</td>
          <td style="text-align: right;">3.00</td>
          <td style="text-align: right;">300</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.input&nbsp;=&nbsp;NumInput(count,&nbsp;min_count=min_count,&nbsp;max_count=max_count)</td>
        </tr>
        <tr id="34" style="color: blue;">
          <td style="color: grey">34</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">100</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.input.on_change&nbsp;=&nbsp;self.on_change</td>
        </tr>
        <tr id="35" style="None">
          <td style="color: grey">35</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.group_id&nbsp;=&nbsp;group_id</td>
        </tr>
        <tr id="36" style="None">
          <td style="color: grey">36</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="37" style="color: blue;">
          <td style="color: grey">37</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">38</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;dispatch(self,&nbsp;event:&nbsp;int,&nbsp;x:&nbsp;int,&nbsp;y:&nbsp;int)&nbsp;->&nbsp;None:</td>
        </tr>
        <tr id="38" style="None">
          <td style="color: grey">38</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.input.dispatch(event,&nbsp;x,&nbsp;y)</td>
        </tr>
        <tr id="39" style="None">
          <td style="color: grey">39</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;event&nbsp;is&nbsp;ui.RENDER:</td>
        </tr>
        <tr id="40" style="None">
          <td style="color: grey">40</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.on_render()</td>
        </tr>
        <tr id="41" style="None">
          <td style="color: grey">41</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="42" style="color: blue;">
          <td style="color: grey">42</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">76</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;on_render(self)&nbsp;->&nbsp;None:</td>
        </tr>
        <tr id="43" style="None">
          <td style="color: grey">43</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;self.repaint:</td>
        </tr>
        <tr id="44" style="None">
          <td style="color: grey">44</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;count&nbsp;=&nbsp;self.input.count</td>
        </tr>
        <tr id="45" style="None">
          <td style="color: grey">45</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="46" style="None">
          <td style="color: grey">46</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;render&nbsp;the&nbsp;headline</td>
        </tr>
        <tr id="47" style="None">
          <td style="color: grey">47</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;self.step&nbsp;is&nbsp;Slip39NumInput.SET_SHARES:</td>
        </tr>
        <tr id="48" style="None">
          <td style="color: grey">48</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;header&nbsp;=&nbsp;"Set&nbsp;num.&nbsp;of&nbsp;shares"</td>
        </tr>
        <tr id="49" style="None">
          <td style="color: grey">49</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elif&nbsp;self.step&nbsp;is&nbsp;Slip39NumInput.SET_THRESHOLD:</td>
        </tr>
        <tr id="50" style="None">
          <td style="color: grey">50</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;header&nbsp;=&nbsp;"Set&nbsp;threshold"</td>
        </tr>
        <tr id="51" style="None">
          <td style="color: grey">51</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elif&nbsp;self.step&nbsp;is&nbsp;Slip39NumInput.SET_GROUPS:</td>
        </tr>
        <tr id="52" style="None">
          <td style="color: grey">52</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;header&nbsp;=&nbsp;"Set&nbsp;num.&nbsp;of&nbsp;groups"</td>
        </tr>
        <tr id="53" style="None">
          <td style="color: grey">53</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elif&nbsp;self.step&nbsp;is&nbsp;Slip39NumInput.SET_GROUP_THRESHOLD:</td>
        </tr>
        <tr id="54" style="None">
          <td style="color: grey">54</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;header&nbsp;=&nbsp;"Set&nbsp;group&nbsp;threshold"</td>
        </tr>
        <tr id="55" style="None">
          <td style="color: grey">55</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else:</td>
        </tr>
        <tr id="56" style="None">
          <td style="color: grey">56</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;raise&nbsp;RuntimeError&nbsp;&nbsp;#&nbsp;invalid&nbsp;step</td>
        </tr>
        <tr id="57" style="None">
          <td style="color: grey">57</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.header(header,&nbsp;ui.ICON_RESET,&nbsp;ui.TITLE_GREY,&nbsp;ui.BG,&nbsp;ui.ORANGE_ICON)</td>
        </tr>
        <tr id="58" style="None">
          <td style="color: grey">58</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="59" style="None">
          <td style="color: grey">59</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;render&nbsp;the&nbsp;counter</td>
        </tr>
        <tr id="60" style="None">
          <td style="color: grey">60</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;self.step&nbsp;is&nbsp;Slip39NumInput.SET_SHARES:</td>
        </tr>
        <tr id="61" style="None">
          <td style="color: grey">61</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;self.group_id&nbsp;is&nbsp;None:</td>
        </tr>
        <tr id="62" style="None">
          <td style="color: grey">62</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;count&nbsp;==&nbsp;1:</td>
        </tr>
        <tr id="63" style="None">
          <td style="color: grey">63</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first_line_text&nbsp;=&nbsp;"Only&nbsp;one&nbsp;share&nbsp;will"</td>
        </tr>
        <tr id="64" style="None">
          <td style="color: grey">64</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;second_line_text&nbsp;=&nbsp;"be&nbsp;created."</td>
        </tr>
        <tr id="65" style="None">
          <td style="color: grey">65</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else:</td>
        </tr>
        <tr id="66" style="color: blue;">
          <td style="color: grey">66</td>
          <td style="text-align: right;">3.00</td>
          <td style="text-align: right;">24</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first_line_text&nbsp;=&nbsp;f"{count}&nbsp;people&nbsp;or&nbsp;locations"</td>
        </tr>
        <tr id="67" style="None">
          <td style="color: grey">67</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;second_line_text&nbsp;=&nbsp;"will&nbsp;each&nbsp;hold&nbsp;one&nbsp;share."</td>
        </tr>
        <tr id="68" style="None">
          <td style="color: grey">68</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else:</td>
        </tr>
        <tr id="69" style="None">
          <td style="color: grey">69</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first_line_text&nbsp;=&nbsp;"Set&nbsp;the&nbsp;total&nbsp;number&nbsp;of"</td>
        </tr>
        <tr id="70" style="color: blue;">
          <td style="color: grey">70</td>
          <td style="text-align: right;">3.03</td>
          <td style="text-align: right;">106</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;second_line_text&nbsp;=&nbsp;f"shares&nbsp;in&nbsp;Group&nbsp;{self.group_id&nbsp;+&nbsp;1}."</td>
        </tr>
        <tr id="71" style="None">
          <td style="color: grey">71</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.bar(0,&nbsp;110,&nbsp;ui.WIDTH,&nbsp;52,&nbsp;ui.BG)</td>
        </tr>
        <tr id="72" style="None">
          <td style="color: grey">72</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.text(12,&nbsp;130,&nbsp;first_line_text,&nbsp;ui.NORMAL,&nbsp;ui.FG,&nbsp;ui.BG)</td>
        </tr>
        <tr id="73" style="None">
          <td style="color: grey">73</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.text(12,&nbsp;156,&nbsp;second_line_text,&nbsp;ui.NORMAL,&nbsp;ui.FG,&nbsp;ui.BG)</td>
        </tr>
        <tr id="74" style="None">
          <td style="color: grey">74</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elif&nbsp;self.step&nbsp;is&nbsp;Slip39NumInput.SET_THRESHOLD:</td>
        </tr>
        <tr id="75" style="None">
          <td style="color: grey">75</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;self.group_id&nbsp;is&nbsp;None:</td>
        </tr>
        <tr id="76" style="None">
          <td style="color: grey">76</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first_line_text&nbsp;=&nbsp;"For&nbsp;recovery&nbsp;you&nbsp;need"</td>
        </tr>
        <tr id="77" style="None">
          <td style="color: grey">77</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;count&nbsp;==&nbsp;1:</td>
        </tr>
        <tr id="78" style="None">
          <td style="color: grey">78</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;second_line_text&nbsp;=&nbsp;"1&nbsp;share."</td>
        </tr>
        <tr id="79" style="None">
          <td style="color: grey">79</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elif&nbsp;count&nbsp;==&nbsp;self.input.max_count:</td>
        </tr>
        <tr id="80" style="None">
          <td style="color: grey">80</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;second_line_text&nbsp;=&nbsp;f"all&nbsp;{count}&nbsp;of&nbsp;the&nbsp;shares."</td>
        </tr>
        <tr id="81" style="None">
          <td style="color: grey">81</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else:</td>
        </tr>
        <tr id="82" style="color: blue;">
          <td style="color: grey">82</td>
          <td style="text-align: right;">3.12</td>
          <td style="text-align: right;">25</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;second_line_text&nbsp;=&nbsp;f"any&nbsp;{count}&nbsp;of&nbsp;the&nbsp;shares."</td>
        </tr>
        <tr id="83" style="None">
          <td style="color: grey">83</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else:</td>
        </tr>
        <tr id="84" style="None">
          <td style="color: grey">84</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first_line_text&nbsp;=&nbsp;"The&nbsp;required&nbsp;number&nbsp;of&nbsp;"</td>
        </tr>
        <tr id="85" style="color: blue;">
          <td style="color: grey">85</td>
          <td style="text-align: right;">3.00</td>
          <td style="text-align: right;">105</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;second_line_text&nbsp;=&nbsp;f"shares&nbsp;to&nbsp;form&nbsp;Group&nbsp;{self.group_id&nbsp;+&nbsp;1}."</td>
        </tr>
        <tr id="86" style="None">
          <td style="color: grey">86</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.bar(0,&nbsp;110,&nbsp;ui.WIDTH,&nbsp;52,&nbsp;ui.BG)</td>
        </tr>
        <tr id="87" style="None">
          <td style="color: grey">87</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.text(12,&nbsp;130,&nbsp;first_line_text,&nbsp;ui.NORMAL,&nbsp;ui.FG,&nbsp;ui.BG)</td>
        </tr>
        <tr id="88" style="None">
          <td style="color: grey">88</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.text(12,&nbsp;156,&nbsp;second_line_text,&nbsp;ui.NORMAL,&nbsp;ui.FG,&nbsp;ui.BG)</td>
        </tr>
        <tr id="89" style="None">
          <td style="color: grey">89</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elif&nbsp;self.step&nbsp;is&nbsp;Slip39NumInput.SET_GROUPS:</td>
        </tr>
        <tr id="90" style="None">
          <td style="color: grey">90</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.bar(0,&nbsp;110,&nbsp;ui.WIDTH,&nbsp;52,&nbsp;ui.BG)</td>
        </tr>
        <tr id="91" style="None">
          <td style="color: grey">91</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.text(</td>
        </tr>
        <tr id="92" style="None">
          <td style="color: grey">92</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12,&nbsp;130,&nbsp;"A&nbsp;group&nbsp;is&nbsp;made&nbsp;up&nbsp;of",&nbsp;ui.NORMAL,&nbsp;ui.FG,&nbsp;ui.BG</td>
        </tr>
        <tr id="93" style="None">
          <td style="color: grey">93</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</td>
        </tr>
        <tr id="94" style="None">
          <td style="color: grey">94</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.text(12,&nbsp;156,&nbsp;"recovery&nbsp;shares.",&nbsp;ui.NORMAL,&nbsp;ui.FG,&nbsp;ui.BG)</td>
        </tr>
        <tr id="95" style="None">
          <td style="color: grey">95</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elif&nbsp;self.step&nbsp;is&nbsp;Slip39NumInput.SET_GROUP_THRESHOLD:</td>
        </tr>
        <tr id="96" style="None">
          <td style="color: grey">96</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.bar(0,&nbsp;110,&nbsp;ui.WIDTH,&nbsp;52,&nbsp;ui.BG)</td>
        </tr>
        <tr id="97" style="None">
          <td style="color: grey">97</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.text(</td>
        </tr>
        <tr id="98" style="None">
          <td style="color: grey">98</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12,&nbsp;130,&nbsp;"The&nbsp;required&nbsp;number&nbsp;of",&nbsp;ui.NORMAL,&nbsp;ui.FG,&nbsp;ui.BG</td>
        </tr>
        <tr id="99" style="None">
          <td style="color: grey">99</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</td>
        </tr>
        <tr id="100" style="None">
          <td style="color: grey">100</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.display.text(</td>
        </tr>
        <tr id="101" style="None">
          <td style="color: grey">101</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12,&nbsp;156,&nbsp;"groups&nbsp;for&nbsp;recovery.",&nbsp;ui.NORMAL,&nbsp;ui.FG,&nbsp;ui.BG</td>
        </tr>
        <tr id="102" style="None">
          <td style="color: grey">102</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</td>
        </tr>
        <tr id="103" style="None">
          <td style="color: grey">103</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="104" style="None">
          <td style="color: grey">104</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.repaint&nbsp;=&nbsp;False</td>
        </tr>
        <tr id="105" style="None">
          <td style="color: grey">105</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="106" style="color: blue;">
          <td style="color: grey">106</td>
          <td style="text-align: right;">3.00</td>
          <td style="text-align: right;">114</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;on_change(self,&nbsp;count:&nbsp;int)&nbsp;->&nbsp;None:</td>
        </tr>
        <tr id="107" style="None">
          <td style="color: grey">107</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.repaint&nbsp;=&nbsp;True</td>
        </tr>
        <tr id="108" style="None">
          <td style="color: grey">108</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="109" style="None">
          <td style="color: grey">109</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="110" style="color: blue;">
          <td style="color: grey">110</td>
          <td style="text-align: right;">3.00</td>
          <td style="text-align: right;">114</td>
          <td>class&nbsp;MnemonicWordSelect(ui.Layout):</td>
        </tr>
        <tr id="111" style="color: blue;">
          <td style="color: grey">111</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">38</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;NUM_OF_CHOICES&nbsp;=&nbsp;3</td>
        </tr>
        <tr id="112" style="None">
          <td style="color: grey">112</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="113" style="color: blue;">
          <td style="color: grey">113</td>
          <td style="text-align: right;">3.00</td>
          <td style="text-align: right;">114</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;__init__(</td>
        </tr>
        <tr id="114" style="None">
          <td style="color: grey">114</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self,</td>
        </tr>
        <tr id="115" style="None">
          <td style="color: grey">115</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;words:&nbsp;Sequence[str],</td>
        </tr>
        <tr id="116" style="None">
          <td style="color: grey">116</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;share_index:&nbsp;int&nbsp;|&nbsp;None,</td>
        </tr>
        <tr id="117" style="None">
          <td style="color: grey">117</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;word_index:&nbsp;int,</td>
        </tr>
        <tr id="118" style="None">
          <td style="color: grey">118</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;count:&nbsp;int,</td>
        </tr>
        <tr id="119" style="None">
          <td style="color: grey">119</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;group_index:&nbsp;int&nbsp;|&nbsp;None&nbsp;=&nbsp;None,</td>
        </tr>
        <tr id="120" style="None">
          <td style="color: grey">120</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;)&nbsp;->&nbsp;None:</td>
        </tr>
        <tr id="121" style="None">
          <td style="color: grey">121</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;super().__init__()</td>
        </tr>
        <tr id="122" style="None">
          <td style="color: grey">122</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.words&nbsp;=&nbsp;words</td>
        </tr>
        <tr id="123" style="color: blue;">
          <td style="color: grey">123</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">580</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.share_index&nbsp;=&nbsp;share_index</td>
        </tr>
        <tr id="124" style="None">
          <td style="color: grey">124</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.word_index&nbsp;=&nbsp;word_index</td>
        </tr>
        <tr id="125" style="color: blue;">
          <td style="color: grey">125</td>
          <td style="text-align: right;">3.00</td>
          <td style="text-align: right;">1740</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.buttons&nbsp;=&nbsp;[]</td>
        </tr>
        <tr id="126" style="color: blue;">
          <td style="color: grey">126</td>
          <td style="text-align: right;">0.71</td>
          <td style="text-align: right;">2900</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for&nbsp;i,&nbsp;word&nbsp;in&nbsp;enumerate(words):</td>
        </tr>
        <tr id="127" style="None">
          <td style="color: grey">127</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;area&nbsp;=&nbsp;ui.grid(i&nbsp;+&nbsp;2,&nbsp;n_x=1)</td>
        </tr>
        <tr id="128" style="color: blue;">
          <td style="color: grey">128</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">3480</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;btn&nbsp;=&nbsp;Button(area,&nbsp;word)</td>
        </tr>
        <tr id="129" style="color: blue;">
          <td style="color: grey">129</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">1740</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;btn.on_click&nbsp;=&nbsp;self.select(word)</td>
        </tr>
        <tr id="130" style="None">
          <td style="color: grey">130</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.buttons.append(btn)</td>
        </tr>
        <tr id="131" style="None">
          <td style="color: grey">131</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;share_index&nbsp;is&nbsp;None:</td>
        </tr>
        <tr id="132" style="color: blue;">
          <td style="color: grey">132</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">50</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.text:&nbsp;ui.Component&nbsp;=&nbsp;Text("Check&nbsp;seed")</td>
        </tr>
        <tr id="133" style="None">
          <td style="color: grey">133</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elif&nbsp;group_index&nbsp;is&nbsp;None:</td>
        </tr>
        <tr id="134" style="color: red;">
          <td style="color: grey">134</td>
          <td style="text-align: right;">5.00</td>
          <td style="text-align: right;">525</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.text&nbsp;=&nbsp;Text(f"Check&nbsp;share&nbsp;#{share_index&nbsp;+&nbsp;1}")</td>
        </tr>
        <tr id="135" style="None">
          <td style="color: grey">135</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else:</td>
        </tr>
        <tr id="136" style="color: red;">
          <td style="color: grey">136</td>
          <td style="text-align: right;">6.02</td>
          <td style="text-align: right;">2709</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.text&nbsp;=&nbsp;Text(f"Check&nbsp;G{group_index&nbsp;+&nbsp;1}&nbsp;-&nbsp;Share&nbsp;{share_index&nbsp;+&nbsp;1}")</td>
        </tr>
        <tr id="137" style="color: red;">
          <td style="color: grey">137</td>
          <td style="text-align: right;">5.84</td>
          <td style="text-align: right;">3385</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.text.normal(f"Select&nbsp;word&nbsp;{word_index&nbsp;+&nbsp;1}&nbsp;of&nbsp;{count}:")</td>
        </tr>
        <tr id="138" style="None">
          <td style="color: grey">138</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="139" style="color: blue;">
          <td style="color: grey">139</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">76</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;dispatch(self,&nbsp;event:&nbsp;int,&nbsp;x:&nbsp;int,&nbsp;y:&nbsp;int)&nbsp;->&nbsp;None:</td>
        </tr>
        <tr id="140" style="None">
          <td style="color: grey">140</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for&nbsp;btn&nbsp;in&nbsp;self.buttons:</td>
        </tr>
        <tr id="141" style="None">
          <td style="color: grey">141</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;btn.dispatch(event,&nbsp;x,&nbsp;y)</td>
        </tr>
        <tr id="142" style="None">
          <td style="color: grey">142</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.text.dispatch(event,&nbsp;x,&nbsp;y)</td>
        </tr>
        <tr id="143" style="None">
          <td style="color: grey">143</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="144" style="color: blue;">
          <td style="color: grey">144</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">38</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;select(self,&nbsp;word:&nbsp;str)&nbsp;->&nbsp;Callable:</td>
        </tr>
        <tr id="145" style="color: blue;">
          <td style="color: grey">145</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">3480</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;fn()&nbsp;->&nbsp;NoReturn:</td>
        </tr>
        <tr id="146" style="None">
          <td style="color: grey">146</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;raise&nbsp;ui.Result(word)</td>
        </tr>
        <tr id="147" style="None">
          <td style="color: grey">147</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="148" style="color: blue;">
          <td style="color: grey">148</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">1740</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;fn</td>
        </tr>
        <tr id="149" style="None">
          <td style="color: grey">149</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="150" style="None">
          <td style="color: grey">150</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;__debug__:</td>
        </tr>
        <tr id="151" style="None">
          <td style="color: grey">151</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="152" style="color: blue;">
          <td style="color: grey">152</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">76</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;read_content(self)&nbsp;->&nbsp;list[str]:</td>
        </tr>
        <tr id="153" style="color: blue;">
          <td style="color: grey">153</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">2900</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;self.text.read_content()&nbsp;+&nbsp;[b.text&nbsp;for&nbsp;b&nbsp;in&nbsp;self.buttons]</td>
        </tr>
        <tr id="154" style="None">
          <td style="color: grey">154</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="155" style="color: red;">
          <td style="color: grey">155</td>
          <td style="text-align: right;">5.00</td>
          <td style="text-align: right;">190</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;create_tasks(self)&nbsp;->&nbsp;tuple[loop.AwaitableTask,&nbsp;...]:</td>
        </tr>
        <tr id="156" style="None">
          <td style="color: grey">156</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;super().create_tasks()&nbsp;+&nbsp;(debug.input_signal(),)</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>