<!DOCTYPE html>
<html>
  <head>
    <title>trezor/ui/layouts/__init__.py</title>
    <meta charset="utf-8">
    <style>body { font-size: 80%; }</style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th style="color: grey">#</th>
          <th style="text-align: right;">avg</th>
          <th style="text-align: right;">total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr id="1" style="color: red;">
          <td style="color: grey">1</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">11901</td>
          <td>from&nbsp;trezor&nbsp;import&nbsp;utils</td>
        </tr>
        <tr id="2" style="None">
          <td style="color: grey">2</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="3" style="color: red;">
          <td style="color: grey">3</td>
          <td style="text-align: right;">6.00</td>
          <td style="text-align: right;">71406</td>
          <td>from&nbsp;.common&nbsp;import&nbsp;*&nbsp;&nbsp;#&nbsp;noqa:&nbsp;F401,F403</td>
        </tr>
        <tr id="4" style="None">
          <td style="color: grey">4</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="5" style="None">
          <td style="color: grey">5</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>try:</td>
        </tr>
        <tr id="6" style="None">
          <td style="color: grey">6</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;UI2&nbsp;=&nbsp;True</td>
        </tr>
        <tr id="7" style="color: red;">
          <td style="color: grey">7</td>
          <td style="text-align: right;">5.49</td>
          <td style="text-align: right;">65375</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;import&nbsp;trezorui2&nbsp;&nbsp;#&nbsp;noqa:&nbsp;F401</td>
        </tr>
        <tr id="8" style="None">
          <td style="color: grey">8</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>except&nbsp;ImportError:</td>
        </tr>
        <tr id="9" style="None">
          <td style="color: grey">9</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;UI2&nbsp;=&nbsp;False</td>
        </tr>
        <tr id="10" style="None">
          <td style="color: grey">10</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="11" style="None">
          <td style="color: grey">11</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>#&nbsp;NOTE:&nbsp;using&nbsp;any&nbsp;import&nbsp;magic&nbsp;probably&nbsp;causes&nbsp;mypy&nbsp;not&nbsp;to&nbsp;check&nbsp;equivalence&nbsp;of</td>
        </tr>
        <tr id="12" style="None">
          <td style="color: grey">12</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;layout&nbsp;type&nbsp;signatures&nbsp;across&nbsp;models</td>
        </tr>
        <tr id="13" style="color: blue;">
          <td style="color: grey">13</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">11901</td>
          <td>if&nbsp;utils.MODEL&nbsp;in&nbsp;("1",):</td>
        </tr>
        <tr id="14" style="None">
          <td style="color: grey">14</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;.t1&nbsp;import&nbsp;*&nbsp;&nbsp;#&nbsp;noqa:&nbsp;F401,F403</td>
        </tr>
        <tr id="15" style="color: red;">
          <td style="color: grey">15</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">11901</td>
          <td>elif&nbsp;utils.MODEL&nbsp;in&nbsp;("R",):</td>
        </tr>
        <tr id="16" style="None">
          <td style="color: grey">16</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;.tr&nbsp;import&nbsp;*&nbsp;&nbsp;#&nbsp;noqa:&nbsp;F401,F403</td>
        </tr>
        <tr id="17" style="color: blue;">
          <td style="color: grey">17</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">11901</td>
          <td>elif&nbsp;utils.MODEL&nbsp;in&nbsp;("T",):</td>
        </tr>
        <tr id="18" style="None">
          <td style="color: grey">18</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;not&nbsp;UI2:</td>
        </tr>
        <tr id="19" style="color: red;">
          <td style="color: grey">19</td>
          <td style="text-align: right;">9.00</td>
          <td style="text-align: right;">107109</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;.tt&nbsp;import&nbsp;*&nbsp;&nbsp;#&nbsp;noqa:&nbsp;F401,F403</td>
        </tr>
        <tr id="20" style="None">
          <td style="color: grey">20</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;else:</td>
        </tr>
        <tr id="21" style="None">
          <td style="color: grey">21</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;.tt_v2&nbsp;import&nbsp;*&nbsp;&nbsp;#&nbsp;noqa:&nbsp;F401,F403</td>
        </tr>
        <tr id="22" style="None">
          <td style="color: grey">22</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>else:</td>
        </tr>
        <tr id="23" style="color: blue;">
          <td style="color: grey">23</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">1</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;raise&nbsp;ValueError("Unknown&nbsp;Trezor&nbsp;model")</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>