<!DOCTYPE html>
<html>
  <head>
    <title>trezor/ui/layouts/tt_v2/fido.py</title>
    <meta charset="utf-8">
    <style>body { font-size: 80%; }</style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th style="color: grey">#</th>
          <th style="text-align: right;">avg</th>
          <th style="text-align: right;">total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr id="1" style="color: blue;">
          <td style="color: grey">1</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">107</td>
          <td>from&nbsp;typing&nbsp;import&nbsp;TYPE_CHECKING</td>
        </tr>
        <tr id="2" style="None">
          <td style="color: grey">2</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="3" style="color: blue;">
          <td style="color: grey">3</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">214</td>
          <td>from&nbsp;trezor.enums&nbsp;import&nbsp;ButtonRequestType</td>
        </tr>
        <tr id="4" style="None">
          <td style="color: grey">4</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="5" style="None">
          <td style="color: grey">5</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>import&nbsp;trezorui2</td>
        </tr>
        <tr id="6" style="None">
          <td style="color: grey">6</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="7" style="color: blue;">
          <td style="color: grey">7</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">214</td>
          <td>from&nbsp;..common&nbsp;import&nbsp;interact</td>
        </tr>
        <tr id="8" style="color: blue;">
          <td style="color: grey">8</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">107</td>
          <td>from&nbsp;.&nbsp;import&nbsp;RustLayout</td>
        </tr>
        <tr id="9" style="None">
          <td style="color: grey">9</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="10" style="None">
          <td style="color: grey">10</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>if&nbsp;TYPE_CHECKING:</td>
        </tr>
        <tr id="11" style="None">
          <td style="color: grey">11</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;trezor.loop&nbsp;import&nbsp;AwaitableTask</td>
        </tr>
        <tr id="12" style="None">
          <td style="color: grey">12</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;trezor.wire&nbsp;import&nbsp;GenericContext</td>
        </tr>
        <tr id="13" style="None">
          <td style="color: grey">13</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="14" style="None">
          <td style="color: grey">14</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="15" style="None">
          <td style="color: grey">15</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>if&nbsp;__debug__:</td>
        </tr>
        <tr id="16" style="color: blue;">
          <td style="color: grey">16</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">214</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;trezor&nbsp;import&nbsp;io,&nbsp;ui</td>
        </tr>
        <tr id="17" style="color: blue;">
          <td style="color: grey">17</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">214</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;...&nbsp;import&nbsp;Result</td>
        </tr>
        <tr id="18" style="None">
          <td style="color: grey">18</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="19" style="color: blue;">
          <td style="color: grey">19</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">214</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;class&nbsp;_RustFidoLayoutImpl(RustLayout):</td>
        </tr>
        <tr id="20" style="color: red;">
          <td style="color: grey">20</td>
          <td style="text-align: right;">2.00</td>
          <td style="text-align: right;">214</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;create_tasks(self)&nbsp;->&nbsp;tuple[AwaitableTask,&nbsp;...]:</td>
        </tr>
        <tr id="21" style="None">
          <td style="color: grey">21</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;(</td>
        </tr>
        <tr id="22" style="color: blue;">
          <td style="color: grey">22</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">104</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.handle_timers(),</td>
        </tr>
        <tr id="23" style="color: blue;">
          <td style="color: grey">23</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">104</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.handle_input_and_rendering(),</td>
        </tr>
        <tr id="24" style="color: blue;">
          <td style="color: grey">24</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">104</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.handle_swipe(),</td>
        </tr>
        <tr id="25" style="color: red;">
          <td style="color: grey">25</td>
          <td style="text-align: right;">5.00</td>
          <td style="text-align: right;">520</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.handle_debug_confirm(),</td>
        </tr>
        <tr id="26" style="None">
          <td style="color: grey">26</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</td>
        </tr>
        <tr id="27" style="None">
          <td style="color: grey">27</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="28" style="color: red;">
          <td style="color: grey">28</td>
          <td style="text-align: right;">3.00</td>
          <td style="text-align: right;">321</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;async&nbsp;def&nbsp;handle_debug_confirm(self)&nbsp;->&nbsp;None:</td>
        </tr>
        <tr id="29" style="color: blue;">
          <td style="color: grey">29</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">104</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;apps.debug&nbsp;import&nbsp;confirm_signal</td>
        </tr>
        <tr id="30" style="None">
          <td style="color: grey">30</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="31" style="None">
          <td style="color: grey">31</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;try:</td>
        </tr>
        <tr id="32" style="color: blue;">
          <td style="color: grey">32</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">208</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;await&nbsp;confirm_signal()</td>
        </tr>
        <tr id="33" style="None">
          <td style="color: grey">33</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;except&nbsp;Result&nbsp;as&nbsp;r:</td>
        </tr>
        <tr id="34" style="None">
          <td style="color: grey">34</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;r.value&nbsp;is&nbsp;not&nbsp;trezorui2.CONFIRMED:</td>
        </tr>
        <tr id="35" style="None">
          <td style="color: grey">35</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;raise</td>
        </tr>
        <tr id="36" style="None">
          <td style="color: grey">36</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else:</td>
        </tr>
        <tr id="37" style="None">
          <td style="color: grey">37</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return</td>
        </tr>
        <tr id="38" style="None">
          <td style="color: grey">38</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="39" style="None">
          <td style="color: grey">39</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for&nbsp;event,&nbsp;x,&nbsp;y&nbsp;in&nbsp;(</td>
        </tr>
        <tr id="40" style="color: blue;">
          <td style="color: grey">40</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">104</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(io.TOUCH_START,&nbsp;220,&nbsp;220),</td>
        </tr>
        <tr id="41" style="color: blue;">
          <td style="color: grey">41</td>
          <td style="text-align: right;">0.50</td>
          <td style="text-align: right;">208</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(io.TOUCH_END,&nbsp;220,&nbsp;220),</td>
        </tr>
        <tr id="42" style="None">
          <td style="color: grey">42</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;):</td>
        </tr>
        <tr id="43" style="None">
          <td style="color: grey">43</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;msg&nbsp;=&nbsp;self.layout.touch_event(event,&nbsp;x,&nbsp;y)</td>
        </tr>
        <tr id="44" style="None">
          <td style="color: grey">44</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.layout.paint()</td>
        </tr>
        <tr id="45" style="None">
          <td style="color: grey">45</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui.refresh()</td>
        </tr>
        <tr id="46" style="None">
          <td style="color: grey">46</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;msg&nbsp;is&nbsp;not&nbsp;None:</td>
        </tr>
        <tr id="47" style="color: blue;">
          <td style="color: grey">47</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">208</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;raise&nbsp;Result(msg)</td>
        </tr>
        <tr id="48" style="None">
          <td style="color: grey">48</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="49" style="color: blue;">
          <td style="color: grey">49</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">107</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;_RustFidoLayout&nbsp;=&nbsp;_RustFidoLayoutImpl</td>
        </tr>
        <tr id="50" style="None">
          <td style="color: grey">50</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="51" style="None">
          <td style="color: grey">51</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>else:</td>
        </tr>
        <tr id="52" style="None">
          <td style="color: grey">52</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;_RustFidoLayout&nbsp;=&nbsp;RustLayout</td>
        </tr>
        <tr id="53" style="None">
          <td style="color: grey">53</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="54" style="None">
          <td style="color: grey">54</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="55" style="color: blue;">
          <td style="color: grey">55</td>
          <td style="text-align: right;">1.00</td>
          <td style="text-align: right;">107</td>
          <td>async&nbsp;def&nbsp;confirm_fido(</td>
        </tr>
        <tr id="56" style="None">
          <td style="color: grey">56</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;ctx:&nbsp;GenericContext&nbsp;|&nbsp;None,</td>
        </tr>
        <tr id="57" style="None">
          <td style="color: grey">57</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;header:&nbsp;str,</td>
        </tr>
        <tr id="58" style="None">
          <td style="color: grey">58</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;app_name:&nbsp;str,</td>
        </tr>
        <tr id="59" style="None">
          <td style="color: grey">59</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;icon_name:&nbsp;str&nbsp;|&nbsp;None,</td>
        </tr>
        <tr id="60" style="None">
          <td style="color: grey">60</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;accounts:&nbsp;list[str&nbsp;|&nbsp;None],</td>
        </tr>
        <tr id="61" style="None">
          <td style="color: grey">61</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>)&nbsp;->&nbsp;int:</td>
        </tr>
        <tr id="62" style="None">
          <td style="color: grey">62</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;"""Webauthn&nbsp;confirmation&nbsp;for&nbsp;one&nbsp;or&nbsp;more&nbsp;credentials."""</td>
        </tr>
        <tr id="63" style="None">
          <td style="color: grey">63</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;confirm&nbsp;=&nbsp;_RustFidoLayout(</td>
        </tr>
        <tr id="64" style="None">
          <td style="color: grey">64</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;trezorui2.confirm_fido(</td>
        </tr>
        <tr id="65" style="color: red;">
          <td style="color: grey">65</td>
          <td style="text-align: right;">6.00</td>
          <td style="text-align: right;">624</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;title=header.upper(),</td>
        </tr>
        <tr id="66" style="None">
          <td style="color: grey">66</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;app_name=app_name,</td>
        </tr>
        <tr id="67" style="None">
          <td style="color: grey">67</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;icon_name=icon_name,</td>
        </tr>
        <tr id="68" style="None">
          <td style="color: grey">68</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;accounts=accounts,</td>
        </tr>
        <tr id="69" style="None">
          <td style="color: grey">69</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</td>
        </tr>
        <tr id="70" style="None">
          <td style="color: grey">70</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;)</td>
        </tr>
        <tr id="71" style="None">
          <td style="color: grey">71</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="72" style="None">
          <td style="color: grey">72</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;ctx&nbsp;is&nbsp;None:</td>
        </tr>
        <tr id="73" style="None">
          <td style="color: grey">73</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;result&nbsp;=&nbsp;await&nbsp;confirm</td>
        </tr>
        <tr id="74" style="None">
          <td style="color: grey">74</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;else:</td>
        </tr>
        <tr id="75" style="color: blue;">
          <td style="color: grey">75</td>
          <td style="text-align: right;">0.25</td>
          <td style="text-align: right;">104</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;result&nbsp;=&nbsp;await&nbsp;interact(ctx,&nbsp;confirm,&nbsp;"confirm_fido",&nbsp;ButtonRequestType.Other)</td>
        </tr>
        <tr id="76" style="None">
          <td style="color: grey">76</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="77" style="None">
          <td style="color: grey">77</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;The&nbsp;Rust&nbsp;side&nbsp;returns&nbsp;either&nbsp;an&nbsp;int&nbsp;or&nbsp;`CANCELLED`.&nbsp;We&nbsp;detect&nbsp;the&nbsp;int&nbsp;situation</td>
        </tr>
        <tr id="78" style="None">
          <td style="color: grey">78</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;and&nbsp;assume&nbsp;cancellation&nbsp;otherwise.</td>
        </tr>
        <tr id="79" style="None">
          <td style="color: grey">79</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;isinstance(result,&nbsp;int):</td>
        </tr>
        <tr id="80" style="None">
          <td style="color: grey">80</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;result</td>
        </tr>
        <tr id="81" style="None">
          <td style="color: grey">81</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="82" style="None">
          <td style="color: grey">82</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;Late&nbsp;import&nbsp;won't&nbsp;get&nbsp;executed&nbsp;on&nbsp;the&nbsp;happy&nbsp;path.</td>
        </tr>
        <tr id="83" style="None">
          <td style="color: grey">83</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;trezor.wire&nbsp;import&nbsp;ActionCancelled</td>
        </tr>
        <tr id="84" style="None">
          <td style="color: grey">84</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="85" style="None">
          <td style="color: grey">85</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;raise&nbsp;ActionCancelled</td>
        </tr>
        <tr id="86" style="None">
          <td style="color: grey">86</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="87" style="None">
          <td style="color: grey">87</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td></td>
        </tr>
        <tr id="88" style="color: red;">
          <td style="color: grey">88</td>
          <td style="text-align: right;">7.00</td>
          <td style="text-align: right;">749</td>
          <td>async&nbsp;def&nbsp;confirm_fido_reset()&nbsp;->&nbsp;bool:</td>
        </tr>
        <tr id="89" style="None">
          <td style="color: grey">89</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;confirm&nbsp;=&nbsp;RustLayout(</td>
        </tr>
        <tr id="90" style="None">
          <td style="color: grey">90</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;trezorui2.confirm_action(</td>
        </tr>
        <tr id="91" style="None">
          <td style="color: grey">91</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;title="FIDO2&nbsp;RESET",</td>
        </tr>
        <tr id="92" style="None">
          <td style="color: grey">92</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;action="erase&nbsp;all&nbsp;credentials?",</td>
        </tr>
        <tr id="93" style="None">
          <td style="color: grey">93</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;description="Do&nbsp;you&nbsp;really&nbsp;want&nbsp;to",</td>
        </tr>
        <tr id="94" style="None">
          <td style="color: grey">94</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;reverse=True,</td>
        </tr>
        <tr id="95" style="None">
          <td style="color: grey">95</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</td>
        </tr>
        <tr id="96" style="None">
          <td style="color: grey">96</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;)</td>
        </tr>
        <tr id="97" style="None">
          <td style="color: grey">97</td>
          <td style="text-align: right;">0.00</td>
          <td style="text-align: right;">0</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;(await&nbsp;confirm)&nbsp;is&nbsp;trezorui2.CONFIRMED</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>